.App {
	text-align: center;
}

.react-grid-layout {
	position: relative;
	transition: height 200ms ease;
}

.reactGridItem {
	display: flex;
	transition: all 200ms ease;
	border-radius: 50px;
	transition-property: left, top;
	background: #0077bb;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}
.deleteButton {
	position: absolute;
	top: 5%;
	left: 90%;
	background: transparent;
	border: none;
	box-shadow: inset;
	font-size: 18px;
	cursor: pointer;
}
.buttonAdd {
	font-size: 14px;
	font-weight: bold;
	padding: 10px;
	border-color: "#fff";
	border-radius: 25px;
	background: "red";
	border: none;
}
.pad {
	padding: 64px 0 0 0px;
}
.item {
	font-size: 14px;
	margin-top: 20px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.button {
	font-size: 14px;
	padding: 10px;
	margin-left: 20px;
	border: none;
	border-bottom: 2px solid #1a1919;
	margin-right: 20px;
	background: transparent;
	color: #1a1919;
}
.modal {
	font-size: 12px;
}
.title {
	font-size: 20px;
	font-weight: bold;
	align-self: flex-end;
	margin-bottom: 20px;
}
.modal > .header {
	width: 100%;
	border-bottom: 2px solid #1a1919;
	color: #1a1919;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	padding: 5px;
}
.modal > .content {
	border-radius: 200px;
	width: 100%;
	color: #1a1919;
	padding: 10px 5px;
}
.modal > .actions {
	width: 100%;
	padding: 10px 5px;
	margin: auto;
	text-align: center;
}
.modal > .close {
	cursor: pointer;
	position: absolute;
	display: block;
	padding: 2px 5px;
	line-height: 20px;
	right: -10px;
	top: -10px;
	font-size: 24px;
	background: #ffffff;
	border-radius: 18px;
	border: 1px solid #cfcece;
}
